# Global Shark Attack Incidents Data Analysis

Using the data set in <https://www.kaggle.com/teajay/global-shark-attacks/> (Version 7)

After cleaning and analyzing the data, we want to answer the following questions:

* Attacks per year 1900+ (Total, Fatal, Non Fatal) ?


* Relation of ocean temperature and shark attack?

## Import and cleaning data set

### Import libraries and data set's

In [201]:
import pandas as pd
import numpy as np

In [202]:
#read dataframe and create a backup
df = pd.read_csv('attacks.csv', sep = ',', encoding='latin-1')
df_backup = df.copy()

### Clean data frame

#### work with column names

In [203]:
columns_name = df.columns
# make remove spaces before and after and put all in lower case
columns_name = [item.strip().lower() for item in columns_name]
# replace spaces for underline
columns_name = [item.replace(' ', '_') for item in columns_name]
df.columns = columns_name

#### Work with duplicate row's /columns with missing values

In [204]:
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [205]:
#drop duplicate rows
df.drop_duplicates(subset =df.columns, inplace = True)
df.shape

(6312, 24)

In [206]:
#count NaN in each row
df['count_missing'] = df.isnull().sum(axis=1)
#using a mask to eliminate rows with 20 missing values or more
mask = df['count_missing'] < 20
df = df.loc[mask,:]
#drop column use before
df.drop(labels='count_missing', axis=1, inplace=True)
df.shape

(6302, 24)

In [207]:
#Count missing values in Columns
df.isnull().sum()

case_number                  1
date                         0
year                         2
type                         4
country                     50
area                       455
location                   540
activity                   544
name                       210
sex                        565
age                       2831
injury                      28
fatal_(y/n)                539
time                      3354
species                   2838
investigator_or_source      17
pdf                          0
href_formula                 1
href                         0
case_number.1                0
case_number.2                0
original_order               0
unnamed:_22               6301
unnamed:_23               6300
dtype: int64

In [208]:
#look for row's not in column's Unnamed: 22
df.loc[~df['unnamed:_22'].isnull(), :]

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
1478,2006.05.27,27-May-2006,2006.0,Unprovoked,USA,Hawaii,"North Shore, O'ahu",Surfing,Bret Desmond,M,...,NaN,R. Collier,2006.05.27-Desmond.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.05.27,2006.05.27,4825.0,stopped here,NaN

In [209]:
#look for row's not in column's Unnamed: 23
df.loc[~df['unnamed:_23'].isnull(), :]

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
4415,1952.03.30,30-Mar-1952,1952.0,Unprovoked,NETHERLANDS ANTILLES,Curacao,NaN,Went to aid of child being menaced by the shark,A.J. Eggink,M,...,"Bull shark, 2.7 m [9'] was captured & dragged ...","J. Randall, p.352 in Sharks & Survival; H.D. B...",1952.03.30-Eggink.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.03.30,1952.03.30,1888.0,NaN,Teramo
5840,1878.09.14.R,Reported 14-Sep-1878,1878.0,Provoked,USA,Connecticut,"Branford, New Haven County",Fishing,Captain Pattison,M,...,NaN,"St. Joseph Herald, 9/14/1878",1878.09.14.R-Pattison.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.09.14.R,1878.09.14.R,463.0,NaN,change filename

In [210]:
#drop columns Unnamed
df.drop(labels=['unnamed:_22','unnamed:_23'], axis=1, inplace=True)

#### Work with 'Fatal (Y/N)' column

In [211]:
df['fatal_(y/n)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [212]:
#remove spaces before and after
df['fatal_(y/n)'] = df['fatal_(y/n)'].str.strip()
#lower all strings
df['fatal_(y/n)'] = df['fatal_(y/n)'].str.lower()
df['fatal_(y/n)'].unique()

array(['n', 'y', nan, 'm', 'unknown', '2017'], dtype=object)

In [213]:
#group other responses in missing value
df['fatal_(y/n)'] = df['fatal_(y/n)'].apply(lambda x: np.nan if x not in ['y','n'] else x)
df['fatal_(y/n)'].unique()

array(['n', 'y', nan], dtype=object)

#### Work with 'Sex' column

In [214]:
df['sex'].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [215]:
#remove spaces before and after
df['sex'] = df['sex'].str.strip()
#lower all strings
df['sex'] = df['sex'].str.lower()
df['sex'].unique()

array(['f', 'm', nan, 'lli', 'n', '.'], dtype=object)

In [216]:
#group other responses in missing value
df['sex'] = df['sex'].apply(lambda x: np.nan if x not in ['f','m'] else x)
df['sex'].unique()

array(['f', 'm', nan], dtype=object)

## Answer the questions

In [ ]:
# create data frame only with columns we want, with drop the other columns we don't need to this analyse
df_answer_1 = df.drop(['date','case_number','type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury','time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'], axis =1)
# drop the lines with na
df_answer_1.dropna(inplace=True)
#filter year to 1900 +
df_answer_1 = df_answer_1.loc[df_answer_1['year'] >= 1900, :]
# create two columns fatals e non_fatals to sum after
df_answer_1['fatals'] = np.where(df_answer_1['fatal_(y/n)'] == 'y', True, False)
df_answer_1['non_fatals'] = np.where(df_answer_1['fatal_(y/n)'] == 'n', True, False)
#drop the column original
df_answer_1.drop(labels='fatal_(y/n)', axis=1, inplace = True)
#group by year and sum year
df_answer_1 = df_answer_1.groupby(by='year', as_index = False).sum()
#creating column total, sum of fatals and non_fatals
df_answer_1['Total'] = df_answer_1['fatals'] + df_answer_1['non_fatals'] 
#convert column year to int
df_answer_1['year'] =df_answer_1.astype(int)
df_answer_1

In [222]:
df["country"] = df["country"].str.upper()
df["country"] = df["country"].str.strip()

In [223]:
df["type"].unique()

array(['unprovoked', 'invalid', 'provoked', 'questionable', nan],
      dtype=object)

In [224]:
df["type"] = df["type"].str.lower()
df["type"] = df["type"].str.strip()
df["type"] = df["type"].apply(lambda x: "unprovoked" if x in ["boating", "sea disaster", "boat", "boatomg"] else x)
df["type"] = df["type"].apply(lambda x: np.nan if x not in ["provoked", "unprovoked"] else x)

In [225]:
df["type"].unique()

array(['unprovoked', nan, 'provoked'], dtype=object)

In [183]:
df["activity"] = df["activity"].str.lower()
df["activity"] = df["activity"].str.strip()

In [189]:
mask = (df["case_number.1"] == df["case_number.2"])

True     6282
False      20
dtype: int64

In [194]:
df.loc[~(df["case_number.1"] == df["case_number.2"]), :]

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order
34,2018.04.03,03-Apr-2018,2018.0,unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,surfing,Ross Spowart,m,...,n,15h00,White shark,"K. McMurray, TrackingSharks.com",2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.02,2018.04.03,6269.0
117,2017.07.20.a,20-Jul-2017,2017.0,unprovoked,USA,California,"Seal Rock, Goleta Beach, Santa Barbara",sup,Rolf Geyling,m,...,n,07h45,"White shark, 8' to 10'","R. Collier, GSAF",2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017/07.20.a,2017.07.20.a,6186.0
144,2017.05.06,05-May-2017,2017.0,unprovoked,MEXICO,Baja California Sur,"Los Arbolitos, Cabo Pulmo",snorkeling,Andres Rozada,m,...,y,17h00,NaN,J. Rozada,2017.05.06-Rozada.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.06,2017.05.06,6159.0
217,2016.09.15,16-Sep-2016,2016.0,unprovoked,AUSTRALIA,Victoria,Bells Beach,surfing,male,m,...,n,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,6086.0
314,2016.01.24.b,24-Jan-2016,2016.0,unprovoked,USA,Texas,Off Surfside,spearfishing,Keith Love,m,...,n,09h30 / 10h00,Bull sharks x 2,K. Love,2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.01.24.b,2016.01.24.b,5989.0
334,2015.12.23,07-Nov-2015,2015.0,NaN,USA,Florida,"Paradise Beach, Melbourne, Brevard County",surfing,Ryla Underwood,f,...,NaN,11h00,Shark involvement not confirmed,"Fox25Orlando, 11/7/2015",2015.11.07-Underwood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.11.07,2015.12.23,5969.0
339,2015.10.28.a,28-Oct-2015,2015.0,unprovoked,USA,Hawaii,"Malaka, Oahu",body boarding,Raymond Senensi,m,...,n,14h50,NaN,"Star Advertiser, 10/28/2015",2015.10.28-Senensi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.10.28,2015.10.28.a,5964.0
560,2014.05.04,04-May-2014,2014.0,unprovoked,SOUTH AFRICA,Western Cape Province,Simonstown,diving,NaN,NaN,...,n,NaN,Cow shark,"Sunday Times, 5/5/2014",2015.05.04-CowShark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.05.04,2014.05.04,5743.0
3522,1967.07.05,05-Jul-1967,1967.0,unprovoked,TURKEY,Mugla Province,Kucukada Island,spearfishing,Gungor Guven,m,...,y,13h40,NaN,"C. Moore, GSAF",1967.07.05-Guven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1967/07.05,1967.07.05,2781.0
3795,"1962,08.30.b",30-Aug-1962,1962.0,unprovoked,TURKEY,Antalya Province,Ucagiz,NaN,Occupant: Hasan Olta,m,...,n,NaN,NaN,"C.Moore, GSAF",1962.08.30.b-pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.08.30.b,"1962,08.30.b",2508.0
3880,1961.09.02.R,Reported 06-Sep-1961,1961.0,provoked,ITALY,Venice Province,Chioggia,fishing,Pollione Perrini & Fioravante Perini,m,...,n,NaN,1 m shark,"C. Moore, GSAF",1961.09.06.R-Chioggia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"1961.09,06.R",1961.09.02.R,2423.0
4403,1952.08.05,05-Aug-1952,1952.0,provoked,ITALY,Teramo,Giulianova,fishing,Vittorio Speca,NaN,...,y,02h00,2m shark,"C. Moore, GSAF",1952.08.05-Speca.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,1952.08.05,1900.0
4425,1851.12.15.R,\n1951.12.15.R,1951.0,NaN,MOZAMBIQUE,Sofala Province,Beira,swimming,Antonio De Almeida Pinto,m,...,NaN,NaN,Invalid,GSAF,1951.12.15.R-Pinto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1951.12.15.R,1851.12.15.R,1878.0
5275,1900.00.00.R,Reported to have taken place in 1919,1919.0,unprovoked,ITALY,NaN,Savona,fishing,NaN,m,...,n,NaN,13' shark,"C. Moore, GSAF",1919.00.00.R-Savona.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1919.00.00.R,1900.00.00.R,1028.0
5358,1913.07.10.R,Reported 10-Jul-1913,1913.0,unprovoked,COSTA RICA,NaN,Port Limon,swimming,August Schulke & Karl Schafer,m,...,y,NaN,NaN,"The Potter Enterprise, 7/10/1913",1913.07.10.R-PortLimon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1913.17.10.R,1913.07.10.R,945.0
5386,1911.07.31.R,Reported 31-Jul-1911,1911.0,unprovoked,SPAIN,Málaga,Ceuta,bathing,a soldier,m,...,y,NaN,NaN,C. Moore. GSAF,1911.07.31.R-Ceuta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1911.07.31.T,1911.07.31.R,917.0
5777,1884.04.38.R,Reported 28-Apr-1884,1884.0,unprovoked,BRAZIL,NaN,Bahia,fell overboard from the steamship chala,male,m,...,y,NaN,NaN,"Pittsburgh Post Gazette, 4/28/1884",1884.04.28.R-ChalaCook.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1884.04.28.R,1884.04.38.R,526.0
5883,1876.06.18.R,Reported 18-Jun- 1874,1874.0,unprovoked,MEXICO,Veracruz,"Tlacotalpan, Vera Cruz",bathing,a servant of General Diaz,m,...,y,NaN,NaN,"The Times-Picayune, 6/18/1874",1874.06.18.R-DiazServant.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.18.R,1876.06.18.R,420.0
6009,"1853,94.29",29-Apr-1853,1853.0,unprovoked,GREECE,Corfu,NaN,swimming,Hanson,m,...,n,NaN,234-lb shark,"South Australian Register, 5/8/1854",1853.04.29-Hanson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1853.04.29,"1853,94.29",294.0
6122,1808.06.01.R,Reported 01-May-1808,1808.0,unprovoked,ANTIGUA,NaN,Falmouth Harbour,NaN,NaN,NaN,...,NaN,NaN,NaN,"London Observer, 5/1/1808",1808.05.01.R-Antigua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1808.05.01.R,1808.06.01.R,181.0

In [196]:
df_answer_1 = df.drop(['case_number', 'country', 'area', 'location',
       'activity', 'name', 'age', 'injury','time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order'], axis =1)

In [197]:
df_answer_1.head()

          date    year        type sex fatal_(y/n)
0  25-Jun-2018  2018.0  unprovoked   f           n
1  18-Jun-2018  2018.0  unprovoked   f           n
2  09-Jun-2018  2018.0         NaN   m           n
3  08-Jun-2018  2018.0  unprovoked   m           n
4  04-Jun-2018  2018.0    provoked   m           n

In [227]:
df["date"].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)